@{
    ViewData["Title"] = "About ";
}

<h1>@ViewData["Title"]</h1>

<p>This page was created by the University of Malta to create a safe measure to our students, staff and visitors by reporting near misses and investigating for such incidents to not reoccur.</p>
